<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0bfab">  <td>18/11/22 23:44:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PlayStore.start()[pri:0, instance:com.qatesting.PlayStore@bd213e]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5871537</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/11/22 23:45:13</td>   <td>19949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.Login()[pri:0, instance:com.qatesting.PlayStore@bd213e]">Login</td> 
  <td>main@5871537</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/11/22 23:45:13</td>   <td>20008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.add_wishlist()[pri:0, instance:com.qatesting.PlayStore@bd213e]">add_wishlist</td> 
  <td>main@5871537</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/11/22 23:45:13</td>   <td>20026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.write_review()[pri:0, instance:com.qatesting.PlayStore@bd213e]">write_review</td> 
  <td>main@5871537</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/11/22 23:45:13</td>   <td>20050</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PlayStore.cleaupProc()[pri:0, instance:com.qatesting.PlayStore@bd213e]">&lt;&lt;cleaupProc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5871537</td>   <td></td> </tr>
</table>
