<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fdd93">  <td>18/07/30 00:37:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Booking.Clean()[pri:0, instance:automationFramework.Booking@7b69c6ba]">Clean</td> 
  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>18/07/30 00:37:21</td>   <td>18136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registeration.Login()[pri:0, instance:automationFramework.Registeration@46daef40]">Login</td> 
  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>18/07/30 00:37:07</td>   <td>3942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registeration.Register()[pri:0, instance:automationFramework.Registeration@46daef40]">Register</td> 
  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="7fdd93">  <td>18/07/30 00:36:30</td>   <td>-32429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Booking.admnin_login()[pri:0, instance:automationFramework.Booking@7b69c6ba]">admnin_login</td> 
  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="7fdd93">  <td>18/07/30 00:36:40</td>   <td>-22867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Booking.book()[pri:0, instance:automationFramework.Booking@7b69c6ba]">book</td> 
  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>18/07/30 00:37:38</td>   <td>35661</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Registeration.cleaupProc()[pri:0, instance:automationFramework.Registeration@46daef40]">&lt;&lt;cleaupProc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="7fdd93">  <td>18/07/30 00:36:05</td>   <td>-58188</td> <td>&nbsp;</td><td title="&gt;&gt;Booking.start()[pri:0, instance:automationFramework.Booking@7b69c6ba]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963522361</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>18/07/30 00:36:19</td>   <td>-43271</td> <td>&nbsp;</td><td title="&gt;&gt;Registeration.start()[pri:0, instance:automationFramework.Registeration@46daef40]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963522361</td>   <td></td> </tr>
</table>
